[Unit]
Description=SysHealth Background Service
After=network.target

[Service]
Type=simple
# Ensure the path below matches the virtual environment path
ExecStart=/usr/bin/env uv run python scripts/linux/service_runner.py --refresh-rate 5 --priority 5 --exporter victoriametrics
WorkingDirectory=/opt/syshealth
Restart=always
RestartSec=10
User=nobody

[Install]
WantedBy=multi-user.target
